.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100% - 4rem);
    margin-left: 2rem;
    margin-top: 1rem;
}

.autocomplete * {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

#interfaceMode {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 200%;
    height: 100%;
    transition: .4s;
}

#sympt-stage {
    width: 50%;
    height: 100%;
    position: relative;
}

#desease-stage {
    width: 50%;
    height: 100%;
    position: relative;
}

#myInputBtn {
    border: 1px solid transparent;
    background-color: #3eb75d;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

#analysisBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#myAnalysis {
    border: 1px solid transparent;
    background-color: #3eb75d;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
    color: black;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #f1f1f1;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}